.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 120px;
}

.your-name {
  font-family: 'Source Sans Pro';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -90px;
  overflow: scroll;
}

.body-header {
  height: 400px;
  width: 100%;
  background-color: #ff0066;
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}

