.avatar {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 120px;
}

.your-name {
  position: relative;
  top: -90px;
}

.body-header {
  background-color: #ff0066;
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
  width: 120%;
  height: 450px;
}

