nav {
  background-color: #4056A1;
  height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 2;
}

.nav-button {
  border: 0;
  border-radius: 10px;
}

@media only screen and (min-width: 1024px) {
  nav {
    display: flex;
    align-items: center;
  }

  .nav-button {
    height: 70px;
  }
}

