#tweet-text {
  border: 0;
  outline: 0;
  width: 100%;
  background-color: #4056A1;
  color: white;
  font-size: 24px;
  height: 50px;
  margin-top: 34px;
}

.inner {
  width: 100%;
  height: 1px;
  border-bottom: 3px solid #ff0066;
}

textarea::placeholder {
  color: white;
  display: flex;
  align-self: flex-end;
}

button {
  font-family: 'Bungee';
  font-size: 24px;
  color: white;
  background-color: #ff0066;
  border-radius: 10px;
}

.counter { 
  font-family: 'Bungee';
  font-size: 24px;
  color: white;
}

.button-div {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.form-error-message {
  color: #ff0066;
  font-family: 'Source Sans Pro';
  font-size: 24px;
  border: #ff0066 dashed 5px;
  display: none;
  text-align: center;
  margin-top: 48px;
}