.new-tweet {
  /* display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 30px; */
}

#tweet-text {
  border: 0;
  outline: 0;
  width: 100%;
  background-color: #4056A1;
  color: white;
  font-size: 24px;
  height: 30px;
  margin-top: 30px;
}

.inner {
  width: 99%;
  height: 1px;
  margin: 0px auto;
  border-bottom: 3px solid #ff0066;
}

::placeholder {
  color: white;
  display: flex;
  align-self: flex-end;
}

button {
  color: #ffffff;
  background-color: #ff0066;
  font-family: 'Bungee';
  font-size: 24px;
}

.counter {
 padding-left: 450px;
 font-family: 'Bungee';
 font-size: 24px;
 color: white;
}

.button-div {
  padding-top: 5px;
}