.posted-tweets {
  border: black solid 3px;
  margin-top: 40px;
  opacity: 0.5;
}

.posted-tweets:hover {
  box-shadow: 4px 4px 6px 2px darkgrey;
  opacity: 3;
}

.userName-avatar {
  display: flex;
  padding-top: 2px;
  height: 63px;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  border-top: black solid 1px;
}

.tweet-main {
  font-size: 20px;
}

.tweet-footer {
  font-size: 12px;
  display: grid;
  grid-template-columns: auto auto;
}

.header-name {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-left: 10px;
}

.header-handle {
  display: flex;
  flex-direction: row-reverse;
  font-size: 20px;
  margin-right: 10px;
}

.header-handle:hover {
  opacity: 1;
}

.tweet-text {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

.tweet-symbols {
  display: flex;
  flex-direction: row-reverse;
  height: fit-content;
  padding-top: 5px;
}

